<div class="menu-footer-container">
    <ul id="menu-footer" class="menu">
        <li id="menu-item-1048" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1048"><a href="//www.gnome.org">The GNOME Project</a>
            <ul class="sub-menu">
                <li><a href="//www.gnome.org/about/">About Us</a></li>
                <li><a href="//www.gnome.org/get-involved/">Get Involved</a></li>
                <li><a href="//www.gnome.org/support-gnome/">Support GNOME</a></li>
                <li><a href="//shop.gnome.org/">GNOME Shop</a></li>
                <li><a href="//foundation.gnome.org/contact-us/">Contact Us</a></li>
                <li><a href="//www.gnome.org/privacy/">Privacy</a></li>
                <li><a href="//foundation.gnome.org/">The GNOME Foundation</a></li>
            </ul>
        </li>
        <li id="menu-item-1047" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1047"><a href="#" onclick="return false;">Resources</a>
            <ul class="sub-menu">
                <li><a href="//developer.gnome.org">Developer Center</a></li>
                <li><a href="//help.gnome.org">Documentation</a></li>
                <li><a href="//wiki.gnome.org">Wiki</a></li>
                <li><a href="//mail.gnome.org/mailman/listinfo">Mailing Lists</a></li>
                <li><a href="//wiki.gnome.org/Community/GettingInTouch/IRC">IRC Channels</a></li>
                <li><a href="//gitlab.gnome.org/">Bug Tracker</a></li>
                <li><a href="//gitlab.gnome.org/">Development Code</a></li>
            </ul>
        </li>
        <li id="menu-item-1046" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1046"><a href="//www.gnome.org/news">News</a>
            <ul class="sub-menu">
                <li><a href="//thisweek.gnome.org/">This Week in GNOME</a></li>
                <li><a href="//www.gnome.org/start/stable">Latest Release</a></li>
                <li><a href="//planet.gnome.org">Planet GNOME</a></li>
            </ul>
        </li>
    </ul>
</div>
