@import url("switch.css");
@import url("jquery.raty.css");
@import url("jquery.colorbox.css");

/* -> Action Button */

span.action_button {
    font-weight: bold;
    margin: 10px;
}

/* User Profile */
/* ==================================================================== */

.profile ul {
    padding-left: 0px;
}

/* Unreviewed Extension Counter */
/* ==================================================================== */

div.nav.navbar-nav a.unreviewed_counter,
div.navbar-header a.unreviewed_counter {
    background-color: #3968A1;
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    padding: 0 5px;
    border-radius: 4px;
    margin-top: 13px;
    margin-right: 10px;
    border: 1px solid #195EB1;
}

div.nav.navbar-nav a.unreviewed_counter:hover,
div.navbar-header a.unreviewed_counter:hover {
    background-color: #195EB1;
}

/* Login Area */
/* ==================================================================== */

.auth_form  {
    padding: 0;
    margin: 0;
}

.auth_form h3 {
    color: #0489B7;
}

.auth_form li, .auth_form ol, .settings-form li, .settings-form ul {
    list-style-type: none;
}

.auth_form ul {
    padding: 0px;
}

.auth_form ul > li {
    margin-bottom: 15px;
}

.auth_form .helptext {
    display: block;
}

.auth_form label {
    display: inline-block;
    line-height: 1.8;
    vertical-align: top;
}

.auth_form input {
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
}
.auth_form input:focus {
    border-color: #66afe9;
    outline: 0;
}


/* Paginator, Filtering and Sorting UI */
/* ==================================================================== */

.paginator {
    display: block;
    background-color: #eeeeec;
    border-radius: 3px;
    border: 1px solid #babdb6;
    padding: 3px;
}

.paginator.loading {
    background-image: url(../images/spinner.gif);
    background-repeat: no-repeat;
    background-position: 8px 8px;
}

.paginator .number {
    display: inline-block;
    min-width: 1.5em;
    text-align: center;
    margin: 0 4px;
    border-radius: 4px;
}

.paginator .number,
.fsui-dropdown-link {
    border-radius: 4px;
    cursor: pointer;

    text-decoration: none;
    color: #204a87;

    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -o-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.fsui-dropdown-link {
    padding: 0.2em 0.4em;
    margin: 0 0.6em;
}

.paginator .number:hover,
.fsui-dropdown-link:hover {
    background-color: #f4f4f4;
}

.paginator .number.current,
.fsui-dropdown-link.selected {
    background-color: #ffffff;
    text-decoration: none;
    color: #222;
}

.paginator .number.current {
    border: 1px solid rgb(200, 200, 200);
    cursor: default;
}

.paginator .number:first-child {
    margin-left: 0;
}

.paginator .number:last-child {
    margin-right: 0;
}

.paginator-content {
    text-align: center;
}

.fsui {
    float: right;
    font-size: 0.8em;
    position: relative;
    top: -1.9em;
}

.fsui-dropdown-link-arrow {
    position: relative;
    margin-left: .25em;
    top: -.25em;
}

.fsui-dropdown {
    background-color: #fff;
    position: absolute;
    margin-top: -4px;
    border-radius: 4px 0 4px 4px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    z-index: 999;
}

.fsui-dropdown ul {
    margin: 0;
    padding: 0;
}

.fsui-dropdown-item {
    text-decoration: none;
    color: #444;
    list-style-position: inside;
    list-style-type: none;
    cursor: pointer;
    margin-left: 0;
    padding: .2em 1em .2em 2em;
}

.fsui-dropdown-item.selected {
    list-style-type: disc;
    padding-left: 1em;
}

.fsui-dropdown-item:hover {
    background-color: #e5e5e0;
}


/* Extension Views */
/* ==================================================================== */

#extensions-list {
    position: relative;
    padding-left: 0;
}

ul.extensions {
    margin-top: 0;
    padding-left: 0;
}

li.extension {
    list-style-type: none;
    list-style-position: inside;
    margin-left: 0px;
}

li.extension, #local_extensions div.extension, #shell_settings div.setting {
    border-bottom: 1px solid #ccc;
    border-bottom-color: rgba(0, 0, 0, 0.2);
}

li.extension:last-child,
#local_extensions div.extension:last-child,
#shell_settings div.setting:last-child {
    border-bottom: 0;
}

.extension {
    padding: 0;
    margin-top: 10px;
}

.extension.out-of-date > * {
    opacity: 0.5;
}

.extension.out-of-date .uninstall-button,
.extension.out-of-date .upgrade-button {
    opacity: 1.0;
}

.extension .extension-name a, .setting .setting-name a {
    color: #000;
    text-decoration: none;
}

.extension .extension-name, .setting .setting-name {
    display: inline-block;
    line-height: 32px;
    margin: 0;
    font-size: 1.3em;
}

.extension .extension-header {
    float: left;
}

.extension .extension-header .extension-name {
    margin-left: 0;
}

.extension .extension-name a:hover {
    color: #445;
}

.extension .system-extension {
    margin: 0;
    margin-left: 36px;
    font-size: 0.8em;
    cursor: help;
    display: none;
}

.extension.system .system-extension {
    display: block;
}

.extension .author, .extension .author a {
    color: #888;
}

.extension .author a:hover {
    color: #666;
}

.extension .extension-download select {
    display: inline;
    width: auto;
}

.extension .extension-download .extension-version {
    display: none;
}

.extension .extension-download.shell-selected .extension-version {
    display: inline;
}

/* Upgrade, Configure, Uninstall buttons */

.extension .controls, .setting .controls {
    float: right;
    width: 180px;
}

.extension .controls * {
    box-sizing: content-box;
}

.extension.single-page .extension-details {
    /* 32px icon + 4px icon margin */
    padding-left: 36px;
}

.extension.single-page .description {
    padding-left: 0;
    margin-left: 0;
}

.extension.single-page .controls {
    width: auto;
    margin-right: 32px;
}

.extension .extra-buttons {
    float: left;
    margin-top: 4px;
}

.extension .configure-button,
.extension .upgrade-button,
.extension .uninstall-button,
.extension .install-button {
    display: none;
}

.extension.dummy .install-button {
    display: inline-block;
}

.extension .donate-button {
    display: inline-block;
    text-decoration: none;
    color: #333;
}

.extension .donate-button a {
    text-decoration: none;
}

.extension.configurable .configure-button,
.extension.upgradable .upgrade-button,
.extension.installed .uninstall-button {
    float: left;

    display: block;
    height: 24px;
    width: 24px;

    font-weight: bold;
    border-style: solid;
    border-width: 2px;
    text-align: center;
    margin-right: 3px;

    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 4px;
    cursor: pointer;
}

.extension.installed.system .uninstall-button {
    display: none;
}

.extension.configurable .configure-button {
    background-color: #4a90d9;
    background-image: url(../images/configure-extension.png);
    border-color: #3465a4;
}

.extension.configurable .configure-button:hover {
    background-color: #5ba1ff;
    border-color: #5485c4;
}

.extension.upgradable .upgrade-button {
    background-color: #60b94a;
    background-image: url(../images/upgrade.png);
    border-color: #559424;
}

.extension.upgradable .upgrade-button:hover {
    background-color: #71ca5b;
    border-color: #75a444;
}

.extension .uninstall-button {
    background-color: #de2900;
    background-image: url(../images/uninstall-extension.png);
    border-color: #bf2000;
}

.extension .uninstall-button:hover {
    background-color: #f22c00;
    border-color: #d92400;
}

/* Extension switch */

.extension ._gnome-switch {
    margin-top: 4px;
    margin-right: 0.5em;
    float: left;
}

._gnome-switch.customized .error {
    border-color: #a43465;
    background-color: #d94a60;
}

.extension .description {
    margin: 0.5em 32px 0.5em 36px;
    font-size: 1.2em;
    overflow: auto;
    white-space: pre-line;
}

.extension textarea {
    /* Sync with body selector at the top of the file, please.
     * textareas don't inherit body fonts for whatever reason. */
    font-family: Cantarell, 'Droid Sans', Ubuntu, 'DejaVu Sans', Arial, sans-serif;
}

.extension textarea, .extension input {
    line-height: 1.6;
    font-size: 100%;
}

/* Screenshots and Icons */

.extension .screenshot {
    background: #ffffff;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-weight: bold;
}

.extension .screenshot img {
    max-width: 300px;
    max-height: 200px;
    -ms-interpolation-mode: bicubic;
    image-rendering: optimizeQuality;
}

.extension .icon, .extension .icon img {
    width: 32px;
    height: 32px;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 4px;
}

.extension span.plugin-unknown {
    background-image: url(../images/plugin-unknown.png)
}

.extension .screenshot label.upload {
    display: block;
}

@media screen and (max-width: 767px) {
    .extension .screenshot {
        text-align: center;
    }
}

/* Uploader */

.extension .upload {
    cursor: pointer;
}

.extension .upload input {
    display: none;
}

.extension .screenshot .upload {
    text-align: center;
}

/* Various other things */

.extension dt, .extension dd {
    font-size: 1em;
    display: inline-block;
    padding: 0 1em 0 0;
}

.extension table {
    width: 100%;
}

.extension th {
    text-align: left;
}

.extension_status_toggle {
    display: none;
}

.extension_status_toggle.visible {
    display: table-cell;
}

.extension-status.rejected, option.reject {
    color: #c00 !important;
    font-weight: bold;
}

.extension-status.active, option.approve {
    color: #0a0 !important;
    font-weight: bold;
}

.version {
    color: #6a6a6a;
    font-size: smaller;
}

/* Comments */
/* ==================================================================== */

#comments .loading {
    background-image: url(../images/spinner.gif);
    background-repeat: no-repeat;
    padding-left: 24px;
    margin-left: 8px;
    line-height: 16px;
}

#comments .show-all {
    font-weight: bold;
    cursor: pointer;
    color: #204a87;
}

#comments .show-all:hover {
    color: #3465a4;
}

#comments .show-all.loading {
    color: #eeeeec;
    cursor: default;
}

.comment {
    margin-left: 90px;
}

.comment .gravatar {
    position: absolute;
    margin-left: -90px;
}

.comment .rating-author {
    overflow: hidden;
}

.comment .rating {
    margin-right: 6px;
    float: right;
}

.comment .comment-author {
    font-weight: bold;
}

.comment time {
    color: #999;
}

.comment .extension-creator-badge {
    font-weight: bold;
    background-color: rgb(255,255,200);
    position: absolute;
    margin-left: -90px;
    padding: 0.2em;
    z-index: 999;
}

.comments-holder {
    margin-top: 20px;
}

.preview blockquote {
    font-size: inherit;
}

#rating_form:not(.preview) .g-recaptcha > div {
    margin: 0 auto;
}

/* Errors & Messages */
/* ==================================================================== */

p.message {
    min-height: 42px;
    display: block;
    padding: .5em;
    margin: 0 auto;
    padding-left: 72px;
    background-repeat: no-repeat;
    background-position: 16px center;
    border: 1px solid rgba(33, 33, 33, 0.3);
    border-top: 0;
    box-sizing: content-box;
}

p.message:first-child {
    border-radius: 6px 6px 0 0;
    border-top: 1px solid rgba(33, 33, 33, 0.3);
}

p.message:last-child {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

p.message.error {
    background-color: #fcc;
    background-image: url(../images/error.png);
}

p.message.info {
    background-color: #ccf;
    background-image: url(../images/info.png);
}

p.message.warning {
    background-color: #ebde71;
    background-image: url(../images/warning.png);
}

#message_container {
    margin-bottom: 1em;
}

.editable {
    background: url(../images/edit.svg) right rgba(255, 255, 200, 0.8) no-repeat;
    padding-right: 20px;
}

.errorlist {
    color: #a94442;
}

/* Forms */
/* ==================================================================== */

input, textarea, input[type=submit], button {
    border: 1px solid #ccc;
    border-radius: 4px;
}

input:focus,
textarea:focus {
    border-color: #66afe9;
    outline: 0;
}

/* Opinion form */
/* ==================================================================== */

#opinion_form {
    overflow: hidden;
}

#opinion_form label {
    display: block;
}

#opinion_form p input,
#opinion_form p textarea {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 3px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#opinion_form p input:focus,
#opinion_form p textarea:focus {
    border-color: #66afe9;
    outline: 0;
}

#opinion_form p textarea {
    resize: vertical;
    min-height: 150px;
}

#opinion_form input[type=submit] {
    height: 32px;
    float: right;
}

#opinion_form .comment_choice {
    display: block;
    font-size: 16pt;
    margin-bottom: 30px;
}

#opinion_form .comment_choice a {
    text-decoration: none;
}

#opinion_form .unauthenticated {
    background: #eeeeec;
    border: 1px solid #babdb6;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    clear: both;
    padding: 20px;

    /* Extra margin on the bottom, left and right is for
     * the shadow -- we use overflow: hidden on the parent
     * to establish a BFC, so it will clip the shadow. */
    margin: 20px 4px 4px 4px;
}


/* Review List */
/* ==================================================================== */

.review {
    background: #eeeeec;
    border: 1px solid #babdb6;
    border-radius: 8px;
    padding: 10px;
    margin-top: 20px;
}

.review a {
    text-decoration: none;
}

.review a .extension-name {
    font-size: 1.4em;
    color: #000;
}

.review a:hover .extension-name {
    color: #445;
}

.review abbr, .review .extension-version {
    color: #666;
    font-size: smaller;
}

.review abbr {
    float: right;
}

.review blockquote {
    padding: .5em;
    white-space: pre;
    white-space: pre-wrap;
    border: 1px solid #BABDB6;
    border-left: 1em solid #A5A5AF;
    border-radius: 2px 2px 2px 2px;
    font-family: monospace;
}

.review blockquote.empty {
    color: #888;
}


/* Instruction steps */
/* ==================================================================== */

.step {
    background-color: #EEEEEC;
    border: 1px solid #aaa;
    padding: 1em;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}


/* Super fancy expandy headers that no longer need to die */
/* ==================================================================== */

.expandy_header {
    cursor: pointer;
    padding-left: 0.5em;
    margin-bottom: 0;
    margin-top: 10px;
    clear: both;
}

.expandy_header:before {
    content: "";
    display: block;
    float: left;
    border-color: transparent;
    border-left-color: #0489B7;
    border-style: solid;
    border-width: .4em;
    margin-top: .4em;
    width: 0;

    transition: transform 0.4s ease-in-out;
    transform-origin: 25% 50%;
}

.expandy_header.expanded:before {
    transform: rotate(90deg);
}

/* Settings */
/* ==================================================================== */

.setting .description {
    margin: 0.5em 32px 0.5em 0em;
    font-size: 1.2em;
    overflow: auto;
    white-space: pre-line;
}

#shell_settings .form-horizontal .form-group label {
	text-align: left;
}
