{% extends "base.html" %}
{% load i18n %}
{% block title %}{{ extension.name }} - {{ block.super }}{% endblock %}

{% load extension_icon %}
{% block body %}
    <div class="extension single-page {% block extra-ext-class %}{% endblock %}"
         data-epk="{{ extension.pk }}"
         data-uuid="{{ extension.uuid }}"
         data-svm="{{ shell_version_map }}"
         data-versions="{{ visible_versions }}">
      <div class="extension-header col-xs-12 col-sm-8 col-md-8 col-lg-8 no-padding">
        {% spaceless %}
        {% block icon %}
        <img src="{% extension_icon extension.icon %}" class="icon">
        {% endblock icon %}
        <h3 class="extension-name" id="extension_name">{{ extension.name }}</h3>
        {% endspaceless %}
        <span class="author">by <a href="{% url 'auth-profile' user=extension.creator.username %}">{{ extension.creator.get_full_name }}</a></span>
        <span class="divider"> | </span>
        <span class="downloads" title="{% trans 'Number of Downloads' %}"> {% blocktrans count downloads=extension.downloads %}{{ downloads }} download{% plural %}{{ downloads }} downloads{% endblocktrans %}</span>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div class="controls">
          {% if donation_urls|length == 1 %}
            {% for url in donation_urls %}
              <a href="{% url 'away' target_url=url.full_url|urlencode:"" %}" class="btn btn-default donate-button">{% trans 'Donate' %}</a>
            {% endfor %}
          {% elif donation_urls|length > 1 %}
            <div class="dropdown donate-button">
              <button class="btn btn-default dropdown-toggle" type="button" id="donateDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                {% trans 'Donate' %}
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="donateDropdown">
                {% for url in donation_urls %}
                <li><a href="{% url 'away' target_url=url.full_url|urlencode:"" %}">{{ url.get_url_type_display | escape }} ({{ url.url | escape }})</a></li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
          <button type="button" class="btn btn-primary install-button">{% trans 'Install' %}</button>
          <div class="switch"></div>
          <div class="extra-buttons">
            <div class="upgrade-button" title="{% trans 'Upgrade this extension' %}"></div>
            <div class="configure-button" title="{% trans 'Configure this extension' %}"></div>
            <div class="uninstall-button" title="{% trans 'Uninstall this extension' %}"></div>
          </div>
        </div>
      </div>

      <div style="clear: both;"></div>

      <div class="extension-details">
          {% if extension.screenshot %}
              {% block screenshot %}
              <div class="screenshot col-xs-12 col-sm-5 col-md-4 col-lg-3 no-left-padding">
                  <a href="{{ extension.screenshot.url }}"><img src="{{ extension.screenshot.url }}" /></a>
              </div>
              {% endblock screenshot %}

            <div class="col-sm-1 col-md-1 col-lg-1">
            </div>
          {% else %}
              {% block no-screenshot %}
              {% endblock no-screenshot %}
          {% endif %}

        <div class="col-xs-12 col-sm-6 col-md-7 col-lg-8 no-left-padding">
            <p class="description" id="extension_description">{{ extension.description }}</p>

            <dl>
              {% if extension.url %}
              <dt>{% trans "Extension Homepage" %}</dt>
              <dd><a href="{% url 'away' target_url=extension.url|urlencode:"" %}" id="extension_url">{{ extension.url }}</a></dd>
              {% endif %}
            </dl>
            {% if extension_uses_unlock_dialog %}
            <dl>
              <dt>{% trans "Session Mode(s)" %}</dt>
              <dd><button type="disabled" class="btn btn-info btn-sm" title="{% trans "This extension will run while the screen is locked" %}">{% trans "Unlock Dialog" %}</button></dd>
            </dl>
            {% endif %}
            <dl>
              <dt>{% trans "Download" %}</dt>
              <dd class="extension-download">
                  <select class="shell-version form-control">
                      <option>{% trans "Shell version…" %}</option>
                  </select>

                  <select class="extension-version form-control">
                      <option>{% trans "Extension version…" %}</option>
                  </select>
              </dd>
            </dl>
        </div>
      </div>

      {% if not is_visible %}
      <p class="step">
        {% blocktrans trimmed %}
        A reviewer will review the extension you submitted to make sure there's nothing too
        dangerous. You'll be emailed the result of the review.
        {% endblocktrans %}
      </p>
      {% endif %}

      <hr style="clear: both;">

      {% block comments %}
      {% if not extension.allow_comments %}
        <p style="text-align: center;">{% trans 'Comments are disabled for this extension.' %}</p>
      {% else %}
      {% include "extensions/comments.html" %}
      {% endif %}
      {% endblock comments %}

    {% if show_versions %}
    <h2 class="expandy_header expanded"> Versions </h2>
    <table>
        <thead> <tr>
            <th> Version </th> <th> Status </th> <th> Shell Versions </th>{% if can_edit %} <th> Actions </th>{% endif %}
        </tr> </thead>
        <tbody>
        {% for version in all_versions %}
        <tr data-pk="{{ version.pk }}">
            <td> {{ version.version }} </td>
            <td class="mvs">
            {% include "extensions/multiversion_status.html" %}
            </td>
            <td>
            {% for shell_version in version.shell_versions.all %}
            <code class="extension_shell_versions">{{ shell_version.version_string }}</code>
            {% endfor %}
            </td>
            {% if can_edit %}
            {% if version.is_approved %}
            <td class="extension_status_toggle{% if version.is_active %} visible{% endif %}">
            <a href="{% url 'extensions-ajax-set-status-inactive' %}">Inactivate</a>
            </td>
            <td class="extension_status_toggle{% if version.is_inactive %} visible{% endif %}">
            <a href="{% url 'extensions-ajax-set-status-active' %}">Activate</a>
            </td>
            {% endif %}
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <h2 class="expandy_header expanded"> Shell Versions </h2>
    <div>
        <p> Shell versions mapped to their associated extension versions </p>
        <table id="extension_shell_versions_info">
        <thead> <th> Shell Version </th> <th> Extension Version </th> </thead>
        <tbody>
        </tbody>
        </table>
    </div>
    </div>
    {% endif %}
{% endblock %}

{% block navclass %}main{% endblock %}
