{% extends "base.html" %}

{% block extra-messages %}
  {{ block.super }}
  {% for error in errors %}
  <p class="message error">
    {{ error }}
  </p>
  {% endfor %}
{% endblock %}

{% block body %}
<div class="step">
  <p>
    Upload your extension Zip file to submit it for review. Later versions can be uploaded using the same form. Once your extension has been reviewed you will be notified of the result by e-mail.
  </p>
  <p>
    Please see the <a href="https://gjs.guide/extensions/review-guidelines/review-guidelines.html">Review Guidelines</a> to learn what is required for approval.
  </p>
  <p>
    If this is your first extension, please see the documentation on <a href="https://gjs.guide/extensions">gjs.guide</a> for directions on creating an extension and preparing it for upload.
  </p>

  <form enctype="multipart/form-data" action="" method="POST">
    {% csrf_token %}

    {{ form.source }}
    {{ form.source.errors }}

    <br>
    {{ form.gplv2_compliant }}
    {{ form.gplv2_compliant.label_tag }}
    {{ form.gplv2_compliant.errors }}

    <br>
    {{ form.tos_compliant }}
    {{ form.tos_compliant.label_tag }}
    {{ form.tos_compliant.errors }}

    <br>
    <button type="submit" class="btn btn-primary">Upload extension</button>
  </form>

</div>
{% endblock %}

{% block navclass %}upload{% endblock %}
